<main class="timer">
    <div class="list">
        <div class="clock" [ngStyle]="drawBreakStamp()">
            <span>
                <div [ngStyle]="drawSoundStamp()">
                    <span></span>
                </div>
            </span>
        </div>
        <p [ngStyle]="{'opacity':soundStamp > 0 ? 1 : 0 }">Warning every: {{soundStamp | displayTime}}</p>
        <p [ngStyle]="{'opacity':breakStamp > 0 ? 1 : 0 }">Stop every: {{breakStamp | displayTime}}</p>
    </div>
    <div class="count">
        {{ milliseconds | displayTime }}
    </div>
    <div class="buttons">
        <div class="controllers">
            <span (click)="play = !play">
                <div *ngIf="!play">Start</div>
                <div *ngIf="play">Stop</div>
            </span>
            <span (click)="reset()" class="pause">
                <div>Reset</div>
            </span>
        </div>
        <div class="actions">
            <span (click)="setBreakStamp()" [class.border-selected]="addBreakStamp">Break stamp</span>
            <span (click)="setSoundStamp()" [class.border-selected]="addSoundStamp">Warning stamp</span>
        </div>
        <div class="time-options" [class.show-buttons]="addSoundStamp || addBreakStamp">
            <span (click)="addTime(60000)">+ 10m</span>
            <span (click)="addTime(6000)">+ 1m</span>
            <span (click)="addTime(1000)">+ 10s</span>
            <span (click)="addTime(100)">+ 1s</span>
            <span (click)="clear()" class="clear">Clear</span>
        </div>
    </div>
</main>