
.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: #e3e5eb;

    .controll{
        position: absolute;
        top: 1vh;
        left: 2vw;
        z-index: 2;
        display: flex;
        font-size: 1rem;
        font-weight: bolder;
        
        button{
            border-radius: 10px;
            padding: .2rem .5rem;
            border: none;
            background-color: #fefefee3;
            font-size: 1rem;
            font-weight: bolder;
            transition: .3s;
            cursor: pointer;
            
            &:hover{
                background-color: #dadadae0;
            }

            &:active{
                background-color: #64646496;
            }
        }
        
        a{
            text-decoration: none;
            border-radius: 10px;
            padding: .2rem .5rem;
            background-color: #fefefee3;
            border: none;
            display: grid;
            place-items: center;
            color: black;
            
            &:hover{
                background-color: #dadadae0;
            }
        }

        span{
            border-radius: 10px;
            padding: .2rem .5rem;
            background-color: #fefefee3;
            margin: 0 .5rem;
            user-select: none;
        }
    }

    .carousel{
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        overflow-x: auto;
        padding: .5rem;

        app-timer{
            margin: auto;
        }
    }
}

@media(max-width: 770px){
    .carousel{
        padding: 0;
    }
}
